*{
    font-size: 35px;
}
img{
    width: 25%;
}
#box1{
    /* background-color: tomato; */
    /* background-color: #ff000099; */
    /* ? sonuna eklenen kısımlar opacity belirler 0 en açıktır  */
    background-color: hsl(0, 100%, 100%);
}
#box2{
    /* background-color: limegreen; */
    /* background-color: #00ff00; */
    background-color: hsl(0, 100%, 90%);
}
#box3{
    /* background-color: rgba(159, 10, 33, 0.6); */
    background-color: hsl(0, 100%, 60%);
}
#box4{
    /* background-color: #a0f4c2; */
    background-color: hsl(0, 100%, 40%);
}
#box5{
    /* background-color: rgb(0, 255, 255); */
    background-color: hsl(0, 100%, 20%);
}
#box6{
    /* background-color: rgb(255, 0, 0 , 0.5); */
    background-color: hsl(0, 100%, 10%);
    /* ? hsl de sondaki yüzdeler 0%'a geldikçe koyu 100%'e geldikçe açık ton oluşturur */
}